<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
   
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <sessionState mode="InProc" cookieless="false" timeout="20000"/>
    
  
  </system.web>
 <connectionStrings>
    
    <add name="Connectionstring" connectionString="Data source=SRINTE800;  initial catalog=Contract_EMP_info; user id=ffteam; password=F@fMeAt#;" />
  </connectionStrings>
 <appSettings>
   <add key="Telerik.Skin" value="Bootstrap" />
   <add key="Telerik.ScriptManager.TelerikCdn" value="Disabled" />
   <add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled" />
   <add key="Telerik.Web.UI.RenderMode" value="lightweight" />
   <add key="LDAPAdd" value="LDAP://ashkd001.asia.ad.flextronics.com/OU=IN,DC=asia,DC=ad,DC=flextronics,DC=com" />
   <add key="PrefixUser" value="sri" />
   <add key="AdminEmailID" value="sathishkumar.r@flextronics.com" />
   <add key="SmtpAdd" value="smtp2.sac.flextronics.com" />
   <add key="LMSURL" value="http://webservices.flextronics.com/FlexAD/V1/FlexAD.aspx?" />
   <add key="SqlSrvrConnection" value="Data Source=SRINTE800;Initial Catalog='Contract_EMP_info';User Id=ffteam;Password=F@fMeAt#;pooling=false;" />
   <add key="Connection" value="Data Source=SRINTE800;Initial Catalog='Contract_EMP_info';User Id=ffteam;Password=F@fMeAt#;pooling=false;" />
    
    <add key="SqlSrvrConnection" value="Data Source=SRINTE800;Initial Catalog='Contract_EMP_info';User Id=ffteam;Password=F@fMeAt#;pooling=false;Connect Timeout=120" />
    <add key="Connection" value="Data Source=SRINTE800;Initial Catalog='Contract_EMP_info';User Id=ffteam;Password=F@fMeAt#;pooling=false; Connect Timeout=120" />
  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <!--<configuration>
    <system.web>
      <sessionState timeout="40"></sessionState>
       <sessionState timeout="20000"/>
       <sessionState mode="InProc" cookieless="false" timeout="20000"/>


    
  </configuration>-->
<system.webServer>
        <defaultDocument>
            <files>
                <add value="login.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
 
</configuration>